@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
    font-family: 'Open Sans Condensed', sans-serif;
  min-height: 75rem;
  padding-top: 4.5rem;
    background-color:aquamarine
        
}
